.postCard {
    font-family: "Barlow", serif;
    font-weight: 300;
    width: 40vw;
    font-size: 1.7rem;
}

.smallPostCard{
    font-family: "Barlow", serif;
    font-weight: 300;
    width: 38vw;
    font-size: 1.7rem;
}

.lbtn{
    width: 45%;
}

.rbtn{
    width: 45%;
}

@media screen and (max-width: 690px) {
    .postCard{
        width: 100%
    }
}